MINIMUM_US_DEFAULT_PUBLIC_KEY=
MINIMUM_US_DEFAULT_PRIVATE_KEY=

MINIMUM_US_SEALED_PUBLIC_KEY=
MINIMUM_US_SEALED_PRIVATE_KEY=
MINIMUM_US_SEALED_ENCRYPTION_KEY=

MAXIMUM_US_DEFAULT_PUBLIC_KEY=
MAXIMUM_US_DEFAULT_PRIVATE_KEY=
MAXIMUM_US_DEFAULT_DELETED_PRIVATE_KEY=

MAXIMUM_US_SEALED_PUBLIC_KEY=
MAXIMUM_US_SEALED_PRIVATE_KEY=
MAXIMUM_US_SEALED_ENCRYPTION_KEY=

MAXIMUM_US_DEFAULT_PROXY_KEY=

DEFAULT_EU_DEFAULT_PUBLIC_KEY=
DEFAULT_EU_DEFAULT_PRIVATE_KEY=

MUSICIAN_PORT=3004
